
        body{
            margin: 0;
            padding: 0;
            


            
        }
        body.trabalho{
         background-color: #ffe5e0;

        }
        body.descanso {
            background-color: #e0ffe5;
        }







        button {
            background: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }   

        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 65px;
            padding: 0px;
            position: relative;


            background-color: #FF6347;     

 



        }
        .logo_titulo{
            display: flex;
            align-items: center;
            gap: 5;
            margin-left: 0px;
        }
        img.logo{
            max-height: 65px;
            width: auto;
           /* margin-right: 10px;
            position: absolute;
            left: 1%;*/
        }
        .logo_titulo h1{
            margin: 0;
            /*left: 75px;
            margin-left: 55px;*/
            color: #9b2c34;
        }
        #status{
            margin: 0 10px;
            color: white;
            position: absolute;
            left: 50%;
            transform:translateX(-50%);
        }



        @media (max-width: 600px) {
            nav {
                flex-direction: row;
                height: auto;
                padding: 10px;
            }
        
            .logo_titulo {
                max-width: 30px;
                flex-direction: column; /* Empilha logo e h1 verticalmente */
                align-items: center;
                margin-left: 7px;
                gap: 5px; /* Espaço entre logo e h1 */
            }
        
            img.logo {
                max-width: 60px;
                margin-right: 0;
                position: static; /* Remove posicionamento absoluto */
            }
        
            .logo_titulo h1 {
                font-size: 14px;
                margin-top: 0; /* Remove margem superior inicial */
                text-align: center;
            }
        
            #status {
                position: static;
                margin-top: 10px;
                text-align: center;
                
            }
        
            /* Sugestão para menu futuro à direita */
            .menu {
                position: absolute;
                right: 10px;
                top: 10px;
                display: none; /* Oculto por padrão, ative com JS */
            }
        
            .menu.active {
                display: block; /* Mostra o menu quando ativado */
            }
        }
